<nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
    <span class="navbar-toggler-icon leftmenutrigger"></span>
    <span class="navbar-brand">Credibanco</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-dark bg-dark my-0 " id="navbarText">
      <ul class="navbar-nav animate side-nav bg-dark p-3 ">
        <h6 class="text-white">Opciones</h6>
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio"><i class="fa fa-home p-2 text-white" style="cursor: pointer;"></i>Inicio</a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/tarjetas"><i class="fa fa-credit-card nav-item p-2 text-white" style="cursor: pointer;"></i>Tarjetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transacciones"><i class="fa fa-window-restore p-2 text-white" style="cursor: pointer;"></i>Transacciones</a>
        </li>
  
      </ul>
  
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          
        </li>
      </ul>
    </div>
  </nav>